@media (min-width: 64em) {

}
/* Tablet & Mobile */
@media (max-width: 63.9375em ) {
    /* content */
    #nav .subnav a {
        padding: 5px 12px;
    }
    /* it nhat phai dat 42 de de bam */
    .btn {
        padding: 15px 16px;
    }
    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }
    .contact-infor {
        line-height: 2;
    }
    /* footer */
    .socials-list {
        font-size: 33px;
    }
    .socials-list a {
        margin: 0 8px;
    }
    #footer .copyright a{
        padding: 14px 0;
        display: inline-block;
    }
    .btn {
        font-size: 16px;
    }
}
/* tablet */
@media (min-width:46.25em) and (max-width:63.9375em ) {
  
}
/* mobile */
@media (max-width: 46.1875em) {
   
    /* an sub-menu */
    #header {
        overflow: hidden;
    }
        /* hien thi icon menu */
    #header .mobile-menu-btn {
            display: block;
    }
        /* tat thanh search */
    #header .search-btn {
            display: none;
    }    
    /* de the con dai 100% */
    #nav {
        display: block;
    }
    #nav li a {
        padding: 1px 24px;
    }
    /* dua cac thuoc tinh ve col */
    #nav > li {
        display: block;
    }
    /* fix home an het thanh header */
    #nav > li:first-child {
        display: inline-block;
    }
    /* hien thi sub-menu */
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 4px 40px;
    }
    /*fix member bi out lam xuat hien khoan trang*/
    .s-col-full { 
        width: 100% !important; /*cho hinh anh full*/
    }
    #content .members-img {
        width: 60%; /* kich thuoc anh giong vs mau*/
    }
    /* fix contact */
    .contact-form {
        margin-top: 32px;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }
     /* full nut */
     .s-full-width {
        width: 100%;
    }
}   